{% extends "base.html" %}
{% block title %}{{ super() }} - Forbidden{% endblock %}
{% block content %}
  <h1>Forbidden</h1>
    <p>
        What are you doing here?
    </p>
    <p>
        Error details: <b>{{ error }}</b>
    </p>
{% endblock %}
