{% extends "base.html" %}
{% block title %}{{ super() }} - Page Not Found{% endblock %}
{% block content %}
  <h1>Page Not Found</h1>
    <p>
        Keep on looking...
    </p>
    <p>
        Error details: <b>{{ error }}</b>
    </p>
{% endblock %}
