{% extends "base.html" %}
{% block title %}{{ super() }} - Method Not Allowed{% endblock %}
{% block content %}
  <h1>Method Not Allowed</h1>
    <p>
        The method is not allowed for the requested URL.
    </p>
    <p>
        Error details: <b>{{ error }}</b>
    </p>
{% endblock %}
