{% extends "base.html" %}
{% block title %}{{ super() }} - Gone{% endblock %}
{% block content %}
  <h1>Gone</h1>
    <p>
        Page deleted or gone.
    </p>
    <p>
        Error details: <b>{{ error }}</b>
    </p>
{% endblock %}
