{% extends "base.html" %}
{% block title %}{{ super() }} - Internal Server Error{% endblock %}
{% block content %}
  <h1>Internal Server Error</h1>
    <p>
        Internal Server Error.
    </p>
    <p>
        Error details: <b>{{ error }}</b>
    </p>
{% endblock %}
