<!DOCTYPE html>
<head>
    {% block head %}
    <title>{% block title %}My awesome app{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('contacts.static', filename='css/styles.css') }}">
    {% endblock %}
</head>

<body>

<div id="search">
    {% block search %}{% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <div class="footer-text">
            &copy; My awesome app - <script>document.write(new Date().getFullYear());</script>
        </div>
    {% endblock %}
</div>

</body>
</html>
