{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock %}

{% block search %}
    <p>Search your contacts</p>
    <form action="{{ url_for('contacts.results') }}" method="post">
        <input type="text" class="searchTerm" name='searchTerm' placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
            Search
        </button>
    </form>
{% endblock %}

{% block content %}
    {% if contacts %}
        {% if request.path == '/' or request.path == '/results' and not searchterm %}
            <p>There are {{ count }} record{{ count|pluralize('', 's') }} in your contact list.</p>
        {% elif request.path == '/results' and searchterm %}
            <p>Found {{ count }} record{{ count|pluralize('', 's') }} for "{{ searchterm }}":</p>
        {% endif %}

        <table id="contacts">
            <thead>
                <th>Job history</th>
                <th>Company</th>
                <th>Email</th>
                <th>City</th>
                <th>Name</th>
                <th>Country</th>
            </thead>

            <tbody id="table-body">
                {% for contact in contacts %}
                    <tr>
                        {% for value in contact.values() %}
                            <td> {{ value }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No records found for "{{ searchterm }}"!</p>
    {% endif %}
{% endblock %}
