body {
    background-color: #f2ffdf !important;
    border: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

#search {
    border: none;
    display: table;
    margin: 20px auto;
    /*width: 600px;*/
}

#search p {
    display: table;
    margin: 20px auto;
}

.searchTerm {
    border: 3px solid #00B4CC;
    border-radius: 5px;
    color: #9DBFAF;
    float: left;
    height: 20px;
    margin: 0 auto;
    outline: none;
    padding: 5px;
    width: 400px;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    background: #00B4CC;
    border: 1px solid #00B4CC;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 36px;
    margin: 0 0 0 10px;
    outline: none;
    text-align: center;
    width: auto;
}

.searchButton:active {
    background: #00a8cc;
}

#content {
    border: none;
    display: table;
    margin: 0 auto;
    /*width: 600px;*/
}

#footer {
    background-color: coral;
    border: none;
    bottom: 0;
    color: white;
    font-size: 10px;
    position: fixed;
    text-align: right !important;
    width: 100%;
}

.footer-text {
    padding: 10px 10px 10px !important;
}

#contacts {
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0 0 100px 0;
    max-width: 800px;
}

#contacts td, #contacts th {
    border: 1px solid #DDDDDD;
    padding: 8px;
}

#contacts tr:nth-child(even) {
    background-color: #F2f2f2;
}

#contacts tr:hover {
    background-color: #DDDDDD;
}

#contacts th {
    background-color: #00B4CC;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
